{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema de reportes</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% if mensaje_error %}
    <p>Ops... Ocurrio un error, estamos tratando de solucionarlo</p>
    <p style="color:red;">{{ mensaje_error }}</p>
    {% else %}

    <header class="header">
        <div class="header-content">
            <img src="{% static 'img/logo.jpg' %}" alt="Logo"> 
            <h1>Sistema de reportes</h1>
        </div>
    </header>

    <div class="separador-amarrillo"></div>

    <div class="container">

        <!-- Barra de búsqueda y filtro -->
        <div class="busqueda-filtro">
            <div class="buscador">
                <label for="">Buscar alumno:</label>
                <form action="{% url 'busqueda_alumno' %}" method="GET">
                    <input type="text" id="buscar" name="buscar" placeholder="Nombre del alumno" value="{{ buscar }}" required>
                    <input type="submit" value="Buscar">
                </form>
            </div>
            <div class="materias">
                <a href="{% url 'reporte_materia' %}">VER POR MATERIAS</a>
            </div>
        </div>

        <!--Reporte por alumno -->
        {% for registro in datos %}
            <h2 style="margin-bottom:10px;">{{ registro.alumno }}</h2>

            <div class="tabla-individual">
                <div class="card-individual">
                    <table>
                        <thead>
                            <tr>
                                <th>Materia nombre</th>
                                <th>Promedio</th>
                                <th>Tareas entregadas</th>
                                <th>Porcentaje de trabajos entregados</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for materia in registro.materias %}
                                <tr>
                                    <td>{{ materia.materia }}</td>
                                    <td>{{ materia.promedio }}</td>
                                    <td>{{ materia.entregadas }}/{{ materia.total }}</td>
                                    <td>{{ materia.porcentaje }}%</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Actividades no entregadas -->
            <div class="actividades">
                {% if registro.materias %}
                <h3>Actividades no entregadas</h3>
                <table class="tabla-actividades">
                    <thead>
                        <tr>
                            <th>Nombre de actividad</th>
                            <th>Materia</th>
                            <th>Calificación</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for materia in registro.materias %}
                            {% for act in materia.actividades_no_entregadas %}
                                <tr>
                                    <td>{{ act.nombre_materias_no_entregadas }}</td>
                                    <td>{{ materia.materia }}</td>
                                    <td>{{ act.calificacion }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>TAODAS LAS ACTIVIDADES FUERON ENTREGADAS</p>
                {% endif %}
            </div>
        <div class="btn-contenedor">
                <button class="btn-generar">Generar reporte</button>
        </div>
        {% endfor %}

        <!-- Botón generar reporte -->
        
    </div>

    <footer class="seccion-verde">
    </footer>

    {% endif %}
</body>
</html>
